body {
    background-color: #343a40;
    color: #ffffff;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #ffc107;
}

h2 {
    color: #17a2b8;
}

th {
    color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
    color: #343a40;
    border: none;
}

.btn-warning:hover {
    background-color: #ffca2c;
    color: #343a40;
}

.table {
    color: #ffffff;
}

.table th,
.table td {
    border-color: #ffffff;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #454d55;
}